# Base URL of the backend REST API
VITE_API_URL=/api

# Supabase Client Configuration
VITE_SUPABASE_URL=https://ldoguxshqloenecefngs.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_LYYU5L6xBVCTPER4Z9sYKw___3l8zBP
